<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  </head>
    <body class="container">
        <h1>Word Counter</h1><br>
        <p>Have you ever wanted to count how many times a specific word appeared in a sentence/paragraph?</p>
        <p>Well now you can find that out!</p>
        <strong><a href="/wordcounter">Click here to use the program.</a></strong><br>
    </body>
</html>