<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Anagram Checker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Anagram Checker Result</h1>
    <h5>Main Word: @Model.GetMainWord()</h5>
    <p>Result: @Model.AnagramFinder()</p> 
  </body>
</html>