<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  </head>
    <body class="container">
        <h1>Word Counter</h1><br>
        <h4>Result</h4><hr>
        <p>Input check: @Model["Message"]</p>
        <p>Count Result: @Model["Result"]</p>
        <br>
        <a href="/">Go back to homepage.</a><br>
        <a href="/wordcounter">Play again!</a>
    </body>
</html>