<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  </head>
    <body>
        <h1>Let's play Hangman!</h1><br>
        <strong><a href="/game">Click here to play.</a></strong><br>
    </body>
</html>