<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
    <body class="container">
        <h1>@Model</h1>
    </body>
</html>