<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
    <body class="container">
        <h1>Current Game</h1><br>
    @if (@Model["GameStatus"] == false)
    {
        <p>Game Over!</p>
        <a href="/">Go back to Homepage</a>
    }
    else
    {
        <img src='~/img/@Model["GameObject"].GetPicture(@Model["GameObject"].guessCount)'/><hr>
        <p>Guesses:</p>
        @for (int i = 0; i <@Model["GameObject"].GetGuesses().Count;i++){
            <p>@Model["GameObject"].GetGuesses()[i]</p>
        }
        <p>Answer: </p>
           @for (int i = 0; i <Hangman.Models.Game.answer.Length;i++){
            @Hangman.Models.Game.answer[i]
        }
        
        <form action="/game" method="post">
          <label for="new-guess">Guess
          <input id="new-guess" name="new-guess" class="form-control" type="text" required><br>
          </label><br>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    }
    </body>
</html>